{
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": ["unused-imports"],
  "rules": {
    "no-unused-vars": "off",
    "react-hooks/exhaustive-deps": "off",
    "unused-imports/no-unused-imports": "warn",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  },
  "extends": ["react-app", "prettier"],
  "overrides": [
    {
      "files": ["**/*.stories.*"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
}
